{% extends "base.html" %}
{% block title %}ტესტი{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="form-box mx-auto" style="max-width:600px;">
        <form method="POST">
            {{ form.hidden_tag() }}

            <h5>ლოგიკა და ანალიტიკა</h5>
            <p>{{ form.q1.label }}</p>{{ form.q1 }}
            <p>{{ form.q2.label }}</p>{{ form.q2 }}

            <h5 class="mt-3">ტექნოლოგიები</h5>
            <p>{{ form.q3.label }}</p>{{ form.q3 }}
            <p>{{ form.q4.label }}</p>{{ form.q4 }}

            <h5 class="mt-3">კრეატიულობა</h5>
            <p>{{ form.q5.label }}</p>{{ form.q5 }}
            <p>{{ form.q6.label }}</p>{{ form.q6 }}

            <h5 class="mt-3">კომუნიკაცია</h5>
            <p>{{ form.q7.label }}</p>{{ form.q7 }}
            <p>{{ form.q8.label }}</p>{{ form.q8 }}

            <h5 class="mt-3">ზოგადი</h5>
            <p>{{ form.q9.label }}</p>{{ form.q9 }}
            <p>{{ form.q10.label }}</p>{{ form.q10 }}

            {{ form.submit(class="btn btn-success w-100 mt-4") }}
        </form>
    </div>
</div>
{% endblock %}
